@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json;

@{
    Layout = "BldrMaster.cshtml";
    List<string> InstalledList = new List<string>();
}

@section scripts
{
    <script>
        backButton.ClearDataOnLoad = false;
        window.onbeforeunload = function () {
            backButton.enableRestoreOnLoad();
        }
    </script>
}


@{
    var locationId = @CurrentPage.Id;
    var location = @Umbraco.Content(@locationId);
    var locationName = location.Name;
    //var allDistributionCategories = Umbraco.TypedContentAtRoot().Where(c => c.Name == "Bldr Data Repository").First().Children.Where(c => c.Name == "Distribution"); //.First().Where(x => x.showOnLocationsDetailsPages == true);
    var allDistributionCategories = @Umbraco.Content(1919).Children; // Where(x => x.showOnLocationsDetailsPages == true);
    var installed = location.InstalledServicesPicker;
}

@{
    foreach (var installitem in installed)
    {
        InstalledList.Add(installitem.Name);
    }
    InstalledList = InstalledList.OrderBy(x => x).ToList();
}

<div class="container retroContainer">
    @*----------------- Location Logo Image (if present, replaces BFS Logo via js) -----------------------*@
    @{
        string LocLogo = location.GetPropertyValue("logoImage").Url;
        <div style="display: none;">
            <div id="LocLogo">
                <a href="/"><img src="@LocLogo" /></a>
            </div>
        </div>
    }
    <div class="LocDetPageTopWrap">
        <h1 class="MainH1">
            <span class="hidden-xs"><a href="/locations">Locations</a>&nbsp;&rsaquo;</span>
            <span style="font-weight:700;padding-left: 10px;">@location.Name</span>
        </h1>
        <div class="LocationH1Shadow">
            <img class="shadow" alt="line" title="Distribution" src="/Content/Images/Effects/shadow.png">
        </div>
    </div>

    <div class="content_full LocationDetail">
        @*----------------- Location Header Image -----------------------*@
        @{
            try
            {
                string file = location.GetPropertyValue("largeImage").Url;
                @*<div class="hidden-md locationHeaderImage" style="position: relative; background-image: url(@file); border: solid 2px #FFF; box-shadow: 0px 8px 8px 0 rgba(0,0,0,.2);">*@
                @*<img class="BFSOverlay" src="/Content/Images/Branding/BFSLogo_SmallWhite.png"/>*@
                @*</div>*@
                <img class="img-responsive locationHeaderImage" src="@file" style="width:100%; height:100%; position: relative; border: solid 2px #FFF; box-shadow: 0px 8px 8px 0 rgba(0,0,0,.2); margin-bottom: 20px;" />
                @*<img class="BFSOverlay" src="/Content/Images/Branding/BFSLogo_SmallWhite.png"/>*@
                @*</img>*@

            }
            catch (Exception ex) { }
        }
        @*----------------- General Location Information Section - START  -----------------------*@
        @{
            var genInfo = new Dictionary<string, string>();
            string[] dontShowKeys = { "Address2", "CityStateZip" };
            if (location.address1 != "") { genInfo.Add("Address", location.address1); };
            if (location.address2 != "") { genInfo.Add("Address2", location.address2); };
            if (location.city != "" && location.state != "" && location.zipCode != "") { genInfo.Add("CityStateZip", location.city + ", " + location.state + " " + location.zipCode); }
            if (location.mainPhone != "") { genInfo.Add("Phone", location.mainPhone); };
            if (location.mainPhone2 != "") { genInfo.Add("Phone 2", location.mainPhone2); };
            if (location.fax != "") { genInfo.Add("Fax", location.fax); };
            if (location.email != "") { genInfo.Add("Email", location.email); };
            if (location.managerName != "") { genInfo.Add("General Manager", location.managerName); };
            if (location.salesManager != "") { genInfo.Add("Sales Manager", location.salesManager); };
            if (location.locationManager != "") { genInfo.Add("Location Manager", location.locationManager); }
            if (location.HoursMF != "") { genInfo.Add("Hours", location.HoursMF); }
        }
        <div class="LocInfo container">
            <div class="col-sm-9">
                <div class="LocInfo container">
                    <div class="clearfix col-md-12">
                        @foreach (var pair in genInfo)
                        {
                            var key = "";
                            if (genInfo.TryGetValue(pair.Key, out string val))
                            {
                                <div class="LocInfoItemWrap">
                                    @if (pair.Key != "Hours")
                                    {

                                        if (Array.IndexOf(dontShowKeys, pair.Key) == -1) { key = pair.Key + ":"; } else { key = ""; } // Don't show colon for Address2 etc

                                        <label><b>@key</b></label>
                                        //uncomment the block below to enable links for address and phone.
                                        @*if (pair.Key.ToLower().Contains("address") || pair.Key.ToLower().Contains("city"))
                                            {
                                                <a href = "https://maps.google.com/?ll=@location.latitude,@location.longitude" target="_blank" ><span style="white-space: nowrap;">&nbsp;@val</span></a>
                                            }  else if (pair.Key.ToLower().Contains("phone"))
                                            {
                                                <a href="tel:@val"><span style="white-space: nowrap;">&nbsp;@val</span></a>
                                            }  else
                                            {*@
                                        <span style="white-space: nowrap;">&nbsp;@val</span>
                                        //}


                                    }
                                </div>
                            }
                        }
                    </div>
                    <div class="clearfix col-md-12">
                        @if (genInfo.TryGetValue("Hours", out string val1)) //special format
                        {
                            <label style="float: left;"><b>Hours:</b></label>
                            <div class="HoursWrap" style="min-width:190px;">
                                @*<div>*@
                                @Html.Raw("&nbsp;" + location.hoursMF + (location.HoursSaturday != "" ? "," + "<br/>&nbsp;Saturday " + location.HoursSaturday : "") + (location.HoursSunday != "" ? ",<br/>&nbsp;Sunday " + location.HoursSunday : ""))
                                @*</div>*@
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <a href="/contact-us/?loczip=@location.zipCode" style="margin: auto; width: 100%;" class="btn btn-primary">Request Info ></a>
                </div>
            </div>
        </div>

        @*----------------- General Location Information Section - END -----------------------*@


        @*---------------- Distributions - START ------------------------*@

        <div class="clearfix">
            @if(Model.Content.HasValue("suppliers"))
            {
                var supplierDynamic = Model.Content.GetPropertyValue<dynamic>("suppliers");
                var suppliers = supplierDynamic.suppliers;
                var distributions = supplierDynamic.distributions;

                var validSuppliers = new List<IPublishedContent>();
                foreach(var supplierId in suppliers)
                {
                    IPublishedContent supplier = Umbraco.TypedContent(Convert.ToInt32(supplierId.Value));
                    if (supplier != null)
                    {
                        var supplierDistribution = supplier.Parent;
                        foreach (var distributionId in distributions)
                        {
                            if(supplierDistribution.Id == Convert.ToInt32(distributionId.Value))
                            {
                                validSuppliers.Add(supplier);
                                break;
                            }
                        }
                    }
                }

                if (validSuppliers.Any()) { 
                    <p>
                        <b>Distributed Products</b> (Click to See Suppliers)
                    </p>
            
                    <ul class="DistListWrap">
                    
                    @foreach (var supplierGroup in validSuppliers
                        .GroupBy(x => x.Parent)
                        .OrderBy(parent => parent.Key.Name)
                        )
                    {
                        <li>
                            @{var dc = "dist" + supplierGroup.Key.Id;}
                            <text><a href="#" data-toggle="modal" data-target="#logoModal" data-category="@dc" data-catname="@supplierGroup.Key.Name">@supplierGroup.Key.Name</a></text>
                            @{var id = "modal-content-dist" + supplierGroup.Key.Id;}
                            <div id="@id" class="clearfix">
                                @foreach (var supplier in supplierGroup)
                                {
                                    var supplierLogo = supplier.GetPropertyValue<IPublishedContent>("supplierLogo");
                                    <div class="ModalLogosWrap">
                                    
                                        @if (supplierLogo != null)
                                        {
                                            <img src="@supplierLogo.Url" alt="@supplier.Id" />
                                        }
                                        else
                                        {
                                            <div class="DistItemImg">@supplier.Name</div>
                                        }
                                    </div>
                                }
                            </div>
                        </li>
                        
                    }
                    </ul>
                }
            }


            @*---------------- Installed Services------------------------*@

            @if (InstalledList.Count > 0)
            {
                <div>
                    <div class="LocSubItemList">
                        <p>
                            <b>Installed Services</b>
                        </p>
                        <ul class="clearfix">
                            @foreach (var item in InstalledList)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
